
// Screen sizes
$mobile: 375px;
$desktop: 1440px;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');
$font: 'Red Hat Text', sans-serif;
$font-weight: 700;

$body-font-size: 14px;

// Colors
$primary-main: hsl(237, 18%, 59%);
$primary-highlight: hsl(345, 95%, 68%);

$light-color: hsl(0, 0%, 100%);

$light-background: hsl(236, 21%, 26%);
$medium-background: hsl(235, 16%, 14%);
$dark-background: hsl(234, 17%, 12%);

// Images
$stars-background: url('../images/bg-stars.svg');
$hills-background: url('../images/pattern-hills.svg');

$facebook-icon: url('../images/icon-facebook.svg');
$instagram-icon: url('../images/icon-instagram.svg');
$pinterest-icon: url('../images/icon-pinterest.svg');

* {
    box-sizing: border-box;
}